<!DOCTYPE html>
<html>
<head>
    <title>Exercice</title>
</head>
<body>
    <div class="container">
        <h1>{{ exercise.exercice}}</h1><!-- colone Exercice -->
        {% include "navbar.html" %}

        <p>{{ exercise.description }}</p><!-- colone "description" à rajouter -->
        <p>Domaine ou module : {{ exercise.module }}</p><!-- colone Module -->
        <p>Durée estimée : {{ exercise.duration }}</p><!-- colone "duree" à rajouter -->
        {% if exercise.document %}
            <p>Lien vers le document : <a href="{{ exercise.document }}">{{ exercise.document }}</a></p>
        {% endif %}<!-- colone "document" à rajouter qui contiens une url de document stocker sur le drive-->
        <p>Etat : {{ exercise.status }}</p>
        {% if exercise.start_date %}<!-- colone "etat" à rajouter -->
            <p>Date de début prévisionnelle : {{ exercise.start_date }}</p>
        {% endif %}<!-- colone "date_deb_prevu" à rajouter -->
        {% if exercise.actual_start_date %}
            <p>Date de début réelle : {{ exercise.actual_start_date }}</p>
        {% endif %}<!-- colone "date_deb_reel" à rajouter -->
        {% if exercise.end_date %}
            <p>Date de fin prévisionnelle : {{ exercise.end_date }}</p>
        {% endif %}<!-- colone "date_fin_prevu" à rajouter -->
        {% if exercise.actual_end_date %}
            <p>Date de fin réelle : {{ exercise.actual_end_date }}</p>
        {% endif %}<!-- colone "date_fin_reel" à rajouter -->
        <p>Type d'exercice : {{ exercise.type }}</p><!-- colone "defi" à rajouter -->
        <form>
            <label for="comment">Commentaire :</label>
            <textarea id="comment" name="comment">{{ exercise.comment }}</textarea><!-- colone "commentaire" à rajouter -->
            <button type="submit">Enregistrer</button>
        </form>
        {% if exercise.coach_feedback %}
            <p>Feed-back du coach : {{ exercise.coach_feedback }}</p>
        {% endif %}<!-- colone "commentaire_coach" à rajouter -->

    </div>
</body>
</html>


<!-- Path: templates\exercice.html -->

{% extends 'base.html.twig' %}
