<!DOCTYPE html>
<html>
<head>
    <title>GET Request Example</title>
</head>
<body>
    <h1>Accueil</h1>
    <button onclick="getGoogleSheetData()">Charger les données de Google Sheet</button>
    <h3>Liste des programmes de musculation</h3>
    <div id="result"></div>
    <div class="loading">Je charge</div>

    <button onclick="page1()">page1</button>

    <button onclick="page2()">page2</button>

    <script>
        document.getElementsByClassName("loading")[0].style.visibility = "hidden";
        function page1(){
            window.location.href = "http://127.0.0.1:5000/page1";
        }
        function page2(){
            window.location.href = "http://127.0.0.1:5000/page2";
        }
        function getGoogleSheetData() {
            const url = "http://127.0.0.1:5000/google-sheet-content";
            document.getElementsByClassName("loading")[0].style.visibility = "visible";
            fetch(url)
                .then(response => response.text())
                .then(data => {
                    const resultDiv = document.getElementById("result");
                    document.getElementsByClassName("loading")[0].style.visibility = "hidden";
                    resultDiv.innerHTML = data;
                });
        }
        
        function generate_template(id) {
        const data = JSON.parse(localStorage.getItem('data'));
        const row = data[id];
        const name = row[0]; // Assuming the first cell in the row contains the template name
        const url = `/generate-template/${name}`;
        window.location.href = url;
}

    </script>
</body>
</html>
