<!DOCTYPE html>
<html>
<head>
    <title>Programme de musculation</title>
</head>
<body>
    <div class="container">
        <h1>Programme de musculation</h1>
        {% include "navbar.html" %}
    </div>
    <div class="container">
        <div class="card d-flex align-items-center justify-content-center">
            <h2>Exercices</h2>
            <table >
                <thead>
                <tr>
                    <th>Index</th>
                    <th>Options</th>
                    <th></th>
                </tr>
                </thead>
                        <tbody>
                        <!-- Loop through the elements of the data array -->
                        {% for exercise in data.values()|first %}
                            <tr>
                                <td>{{ exercise }}</td>
                                <td>
                                    <form method="post" action="{{ url_for('render_sub_sub_data_cell', row_index=loop.index0) }}">
                                        <button type="submit">Ouvrir</button>
                                        {% set moduleNumber = session['moduleNumber'] %}
                                        <input type="button" value="Commencer" onclick="commencerExercice('{{ exercise }}','{{ moduleNumber }}')">
                                        <input type="button" value="Terminer" onclick="terminerExercice('{{ exercise }}','{{ moduleNumber }}')">
                                    </form>
                                </td>
                                
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>

    </div>
</body>
</html>
<script>
    function commencerExercice(exercise, moduleNumber) {
        // make an AJAX call to the Flask endpoint
        fetch('/CommencerExercice', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                moduleNumber: moduleNumber,
                exercice: exercise
            })
        })
        .then(response => {
            if (response.ok) {
                console.log('Commencer Exercice success!');
                showMessage('Exercice démarré!');
            } else {
                console.error('Commencer Exercice failed:', response.statusText);
                showMessage('Erreur lors du démarrage, reessayez ultérieurement!');
            }
        })
        .catch(error => {
            console.error('Commencer Exercice failed:', error);
            showMessage('Erreur lors du démarrage, reessayez ultérieurement!');
        });
    }
    
    function terminerExercice(exercise, moduleNumber) {
        // make an AJAX call to the Flask endpoint
        fetch('/TerminerExercice', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                moduleNumber: moduleNumber,
                exercice: exercise
            })
        })
        .then(response => {
            if (response.ok) {
                console.log('Terminer Exercice success!');
                showMessage('Exercice terminé!');
            } else {
                console.error('Terminer Exercice failed:', response.statusText);
                showMessage('Erreur, reessayez ultérieurement!');
            }
        })
        .catch(error => {
            console.error('Terminer Exercice failed:', error);
            showMessage('Erreur, reessayez ultérieurement!');
        });
    }
    
    function showMessage(message) {
        // Create a div element for the message
        const messageDiv = document.createElement('div');
        messageDiv.textContent = message;
        messageDiv.style.backgroundColor = '#f0f0f0';
        messageDiv.style.color = '#333';
        messageDiv.style.padding = '10px';
        messageDiv.style.marginBottom = '10px';
    
        // Append the message div to the body or a specific element in your HTML
        document.body.appendChild(messageDiv);
    
        // Automatically remove the message after a certain time (e.g., 3 seconds)
        setTimeout(() => {
            messageDiv.remove();
        }, 3000);
    }
    
    
    </script>
    