<!DOCTYPE html>
<html>
<head>
    <title>Programmes</title>
</head>
<body>
    <div class="container">
        <h1>Liste des programmes</h1>
        {% include "navbar.html" %}
        <button class="btn btn-primary" onclick="getGoogleSheetData()">Charger les données de Google Sheet</button>
        
        <h3>Liste des programmes de musculation</h3>
        <div id="result"></div>
        <div class="loading">Chargement en cours</div>
        {% include "footer.html" %}
    </div>
    <script>
        function getGoogleSheetData() {
            const url = "http://127.0.0.1:5000/google-sheet-content";
            document.getElementsByClassName("loading")[0].style.visibility = "visible";
            fetch(url)
                .then(response => response.text())
                .then(data => {
                    const resultDiv = document.getElementById("result");
                    document.getElementsByClassName("loading")[0].style.visibility = "hidden";
                    resultDiv.innerHTML = data;
                });
        }
    </script>

</body>
</html>
